@model IEnumerable<BusinessGear.Models.Product>

@{
    ViewData["Title"] = "Index";
    ViewBag.Css = "/css/crud.css";
    Layout = "_Layout";
}

<header class="container-fluid">
    <div>
        @Html.Partial("HeaderBrandPartial")
    </div>
</header>

<div class="container body-container">
    @Html.Partial("CrudNavbarPartial")
    <hr style="margin-top: 0; border-width: 2px;"/>

    <h2>Products</h2>

    <p>
        <a class="default-a" asp-action="Create">Create New</a>
    </p>
    <table class="crud-table">
        <thead>
        <tr>
            <th class="first">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="last">
                Options
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="last">
                    <a class="default-a" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="default-a" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="default-a" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="push"></div>
</div>